.label {
  color: white;
}

@keyframes home-div {
  to {
    transform: translateX(-1500px);
  }
}

@keyframes home-html {
  from {
    transform: translateY(-1260px);
  }
  to {

  }
}

#welcome {
  position: absolute;
  top: 38px;
  left: 25px;
  height: 270px;
  width: 350px;
}

#traits {
  position: absolute;
  bottom: 38px;
  left: 25px;
  height: 270px;
  width: 350px;
}

#matches {
  position: absolute;
  top: 38px;
  right: 25px;
  height: 270px;
  width: 350px;
}

#enemies {
  position: absolute;
  bottom: 38px;
  right: 25px;
  width: 350px;
  height: 270px;
}

li:before {
  content:"• ";
}

li{
  font-size: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
}
#description {
  font-size: 1.2em;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
}

h1.title, h2.subtitle {
  color: white;
  font-family: 'Righteous', cursive;
}

label {
  font-family: 'Righteous', cursive;
}

button.button {
  color: #154796
}

canvas#background2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -2;
}

canvas#main2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

canvas#ship2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

canvas#main {
  display: none;
}

canvas#ship {
  display: none;
}

canvas#background {
  display: none;
}

button.play {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  background-image: url(assets/btn_bckgrnd.png);
  font-size: 28px;
  font-weight: bold;
  color: white;
  height: 10%;
  width: 10%
}

section.hero {
  animation-name: home-div;
  animation-duration: 2s;
  animation-play-state: paused;
  background: rgba(21,71,150,0.5);
  border-radius: 20px;
}

section.running {
    /* -webkit-animation-play-state: running; */
    animation-play-state: running;
    animation-fill-mode: forwards;
}

html.new {
  background: url(assets/otheroption.jpg) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}

html {
  background: url(assets/sky3.gif) no-repeat center center fixed;
  background-size: cover;
  z-index: -1;
}
